*{
    font-family: 'poppins',sans-serif;   
}
.banner{
       background-image:url(../images/WhatsApp\ Image\ 2024-06-22\ at\ 06.20.31_6811b846.jpg);
       background-size:cover;
       background-repeat: no-repeat;
       padding:300px 0;
       height: 10px;

}
.skills-padding{
   padding:70px 0;
}